.box {
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
  }

ul {
    list-style-type: none; 
    font-size: 3rem; 
}

.image{
    width: 60vh;
    height: 80vh;
}

.text{
    font-size: 1.5rem;
    color: var(--main-color);
    padding: 2rem;
}